@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background: linear-gradient(135deg, #4bb2e6, #1365d1);
    font-family: Poppins;
}

.login-card, .signup-card {
    width: 100%;
    max-width: 400px;
    border: none;
}

.login-card .card-title, .signup-card .card-title {
    font-weight: bold;
    color: #4e4e4e;
}

.login-card .form-control, .signup-card .form-control {
    border-radius: 20px;
    background-color: #f3f3f3;
    box-shadow: none;
    border: 1px solid #e5e5e5;
}

.login-card .btn-primary, .signup-card .btn-primary {
    border-radius: 20px;
    background: #6e8efb;
    border: none;
    transition: background 0.3s;
}

.login-card .btn-primary:hover, .signup-card .btn-primary:hover {
    background: #a777e3;
}
